{
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.d.ts",
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}